<h1>{{ title }}</h1>
<div>
<input type="text" [(ngModel)]="searchTerm" placeholder="Enter ID">
<button (click)="searchData()">Search</button>
</div>

<div>
<input type="text" [(ngModel)]="searchID" placeholder="Enter user ID">
<button (click)="searchuser()">Search</button>
</div>

<div><button (click)="reverseData()">Reverse Data</button></div>

<div><button (click)="sortByTitle()">Sort by Title</button></div>

<div>
    <button (click)="toggleCompletionStatus()">Completion Status </button>
</div>

<div>
    <button (click)="resetData()">Reset</button>
</div>

<div *ngFor ="let item of data">
<span> user id = {{ item.userId }}</span>
<span> id = {{ item.id }}</span>
<span> title = {{ item.title }}</span>
<span> completed = {{ item.completed }}</span>
</div>